.Notifications {
    border: 2px dashed red;
    padding: 8px;
    display:flex;
    flex-direction: column;
    margin: none;
}

ul li[data-priority='default'] {
    color: blue;
}
ul li[data-priority='high'] {
    color: red;
}